/* hides profile page picture overlays */
._6S0lP {
    display: none;
}

/* hides timeline and sigle photo likes */
.zV_Nj {
    display: none;
}

/* hides the view counts */
.vcOH2 {
    display: none;
}